{% extends 'layout.html' %}

{% block content %}

<div id="editor" style="width: 80%">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}</div>

<div id="chat-box">
    <ul>
        <li>
            este es el chateste es el chateste es el chateste es el chateste es el chateste es el chateste es el chat
        </li>
    </ul>

</div>
<div id="chat-message">

    <div id="chat-text">
        <input type="text" id="text-area">
    </div>

    <div id="chat-text" >
    <button id="send" > Enviar</button>
    </div>

</div>

<script src="/ace-editor/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    var Range = ace.require("ace/range").Range

    editor.setTheme("ace/theme/monokai");
    editor.getSession().setMode("ace/mode/javascript");
    document.getElementById('editor').style.fontSize='14px';

    editor.silence = false;

    //create a connection with socket, by default io variable is sponsor by socket lib
    var socket = io.connect('http://localhost:3000');

    socket.on('editor_broadcast', function(data){

        var newText = ' ';
        console.info('editor broadcast gotten');
        console.info(data.newText);

        editor.silence = true;

        var cursorPos = editor.getCursorPosition();
        editor.setValue(data.newText, 1);
        editor.moveCursorToPosition(cursorPos);

        editor.silence = false;

    });

    editor.getSession().on('change', function(e) {
        if (editor.curOp && editor.curOp.command.name || !editor.silence){
                console.info('editor change sent');
                console.info(e);
                socket.emit('editor_change',
                    {
                      newText: editor.getValue()
                    });
        }
    });

</script>


{% endblock %}
