{% extends 'layout.html' %}

{% block content %}

<form id="login" method="post" action="/go_room/">
    <h1>Create Room</h1>
    <h3 class="error"> [[ errorMessage ]]</h2>
    <fieldset id="inputs">
        <input id="userName" name="username" type="text" placeholder="Nickname" autofocus="" required="">
        <input id="email" name="email" type="email" placeholder="Email" required="">
        <input type="hidden" name="roomId" value="[[ roomId ]]">
    </fieldset>
    <fieldset id="actions">
        <input type="submit" id="submit" value="Get in !!">
    </fieldset>
</form>

{% endblock %}