{% extends 'layout.html' %}

{% block content %}

<div id="editor" style="width: 80%">
</div>

<div id="chat-box">
    <ul class="chat-list">
    </ul>

</div>
<div id="chat-message">

    <div>
        <input type="text" id="text-area">
    </div>

    <div >
        <button id="send" > Enviar</button>
    </div>

</div>

<script type="text/javascript">
    var roomId = '[[ roomId ]]';
    var userName = '[[ userName ]]';
    var userAvatar = '[[ userAvatar ]]';
</script>

<script src="/js/handlebars-v3.0.0.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace-editor/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/public.js" type="text/javascript" charset="utf-8"></script>

<script id="tpl-chat-message" type="text/x-handlebars-template">
    <li class="{{ bubblePosition }} line">
        <img src="{{ userAvatar }}" width="20">
        <strong>{{ userName }} :</strong>
        {{ message }}
    </li>
</script>

{% endblock %}
