{% extends 'layout.html' %}

{% block content %}

<div id="editor" style="width: 80%">function foo(items) {
    var x = "All this is syntax highlighted";
    return x;
}</div>

<div id="chat-box">
    <ul class="chat-list">
        <li class="right line">
            <img src="http://findicons.com/files/icons/1072/face_avatars/300/a02.png" width="30">
            <strong>Rigo :</strong>
            este es el chateste es el chateste es el chateste es el chateste es el chateste es el chateste es el chat
        </li>

        <li class="left line">
            <strong>Yuly :</strong>
            <img src="http://findicons.com/files/icons/1072/face_avatars/300/fh02.png" width="30">
            si me parece muy bien lo que dices
        </li>
    </ul>

</div>
<div id="chat-message">

    <div id="chat-text">
        <input type="text" id="text-area">
    </div>

    <div id="chat-text" >
    <button id="send" > Enviar</button>
    </div>

</div>

<script src="/ace-editor/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/public.js" type="text/javascript" charset="utf-8"></script>

{% endblock %}
