{% extends 'layout.html' %}

{% block content %}

<div class="loading-pane"></div>

<div id="editor" style="width: 80%">
/* ***** WELCOME TO ONFLYCODE TOOL *****
 *
 * You can share your code with your partners and discuss it on real time.
 * Just share the url link to invite them to this room.
 *
 * If you find any bug please report it to rigoxls@gmail.com.
 * If you wanna see the source code please visit https://github.com/rigoxls/onfly-code
 *
 * I hope you enjoy it !! =)
 *
/* ***** WELCOME TO ONFLYCODE TOOL *****

</div>

<div class="l-mode">
    <span>Select Language </span>
    <select id="l-mode" title="language">
        <option value="text">Plain</option>
        <option value="javascript" selected="">JavaScript</option>
        <option value="xml">XML</option>
        <option value="html">HTML</option>
        <option value="css">CSS</option>
        <option value="scss">SCSS</option>
        <option value="python">Python</option>
        <option value="php">PHP</option>
        <option value="java">Java</option>
        <option value="ruby">Ruby</option>
        <option value="c_cpp">C/C++</option>
        <option value="coffee">CoffeeScript</option>
        <option value="json">json</option>
        <option value="perl">Perl</option>
        <option value="csharp">C#</option>
        <option value="svg">SVG</option>
</select>
</div>

<div id="chat-box">
    <ul class="chat-list">
        <li class="left line">
            <img src="/icons/21.png" width="20">
            <strong>Admin :</strong>
            Welcome to OnflyCode , you can now start a talk with your partners !
        </li>
    </ul>

</div>
<div id="chat-message">

    <div>
        <input type="text" id="text-area">
    </div>

    <div >
        <button id="send" > Enviar</button>
    </div>

</div>

<script type="text/javascript">
    var roomId = '[[ roomId ]]';
    var userName = '[[ userName ]]';
    var userEmail = '[[ userEmail ]]';
    var userAvatar = '[[ userAvatar ]]';
    var urlApp = '[[ urlApp ]]';
</script>

<script src="/js/handlebars-v3.0.0.js" type="text/javascript" charset="utf-8"></script>
<script src="/ace-editor/ace.js" type="text/javascript" charset="utf-8"></script>
<script src="/js/public.js" type="text/javascript" charset="utf-8"></script>

<script id="tpl-chat-message" type="text/x-handlebars-template">
    <li class="{{ bubblePosition }} line">
        <img src="{{ userAvatar }}" width="20">
        <strong>{{ userName }} :</strong>
        {{ message }}
    </li>
</script>

{% endblock %}
